<h2>  <%= @sub.title %>  </h2>
<br>

<b>Description</b><br><br>
<%= @sub.description %>
<br><br>

<b>Associated Posts</b>
<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <%= link_to post.title, post_url(post), method: :get %>
    </li>
  <% end %>
</ul>
<br>

<%= link_to 'Edit Sub', edit_sub_url(@sub), method: :get %><br>
<%= link_to 'Delete Sub', sub_url(@sub), method: :delete %><br>
<%= link_to 'Make New Post', new_post_url, method: :get %><br>
<%= link_to 'All Subs', subs_url, method: :get %>
