<h2>  <%= @post.title %>  </h2>
<br>

<b>Author</b>
<%= @post.user.email %><br>
<br>

<b>Content</b><br>
<%= @post.content %><br>
<br>

<b>Comments</b><br>
<% @post.comments.where(parent_comment_id: nil).each do |comment| %>
  <ul>
    <li>
      <%= comment.content %><br>
      <%= link_to 'View Comment', comment_url(comment), method: :get %><br>
      <% comment.child_comments.each do |child_comment| %>
      <ul>
        <li>
          <%= child_comment.content %>
        </li>
      </ul>
      <% end %>
    </li>
  </ul>
<% end %>

<%= link_to 'Comment On This Post', new_post_comment_url(@post), method: :get  %>

<br><br>
<b>Associated Subs</b><br>
<% @post.subs.each do |sub| %>
  <%= link_to sub.title, sub_url(sub), method: :get %><br>
<% end %>

<br>
<% if current_user.id = @post.author_id %>
  <%= link_to 'Edit Post', edit_post_url(@post), method: :get %><br>
  <%= link_to 'Delete Post', post_url(@post), method: :delete %><br>
<% end %>
<br>


<%= link_to 'All Posts', posts_url, method: :get %><br>
<%= link_to 'All Subs', subs_url, method: :get %>
